@model IEnumerable<BusinesssTrinitySP01.Models.PackageItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Color.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesignComp.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Package.Name)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Color.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesignComp.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Package.Name)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItemId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemId })
        </td>
    </tr>
}

</table>
