@model IEnumerable<BusinesssTrinitySP01.Models.Rate>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order.PaymentMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stars)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.service)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RateDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order.PaymentMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stars)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.service)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RateDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RateId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RateId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RateId })
        </td>
    </tr>
}

</table>
