<!DOCTYPE html>
<html lang="en-za">
<head>
    <title>@ViewBag.Title - Trinity Rental Enterprise</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link href="~/Content/Admin/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Bootstrap css -->
    <link href="~/Content/Admin/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Main css -->
    <link rel="stylesheet" href="~/Content/Admin/css/fontawesome-all.css">
    <!-- Font-Awesome-Icons-CSS -->
    <link href="~/Content/Admin/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- pop-up-box -->
    <link href="~/Content/Admin/css/menu.css" rel="stylesheet" type="text/css" media="all" />
    <!---Choosen-->
    <link href="~/Content/Chosen/chosen.min.css" rel="stylesheet" type="text/css" media="all" />
    <!---//Choosen-->
    <!-- menu style -->
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundle/modernizr")
    <!-- //Custom-Files -->
</head>
<body>
    <!-- top-header -->
    <div class="agile-main-top">
        <div class="container-fluid">
            <div class="row main-top-w3l py-2">
                <div class="col-lg-4 header-most-top">
                    <p class="text-white text-lg-left text-center">
                        Offers High Quality Rental Services
                        <i class="fas fa-shopping-cart ml-1"></i>
                    </p>
                </div>
                <div class="col-lg-8 header-right mt-lg-0 mt-2">
                    <!-- header lists -->
                    <ul>
                        <li class="text-center border-right text-white">
                            <a href="#" class="text-white">
                                <i class="fas fa-truck mr-2"></i>Track Order
                            </a>
                        </li>
                        <li class="text-center border-right text-white">
                            <a href="#" class="text-white">
                                <i class="fas fa-boxes mr-2"></i>My Orders
                            </a>
                        </li>
                        <li class="text-center border-right text-white">
                            <i class="fas fa-phone mr-2"></i><a class="text-white" href="tel:+27312020202">033 342 3952</a>
                        </li>
                        @Html.Partial("_LoginPartial")
                    </ul>
                    <!-- //header lists -->
                </div>
            </div>
        </div>
    </div>
    <!--header-bottom-->
    <div class="header-bot">
        <div class="container">
            <div class="row header-bot_inner_wthreeinfo_header_mid">
                <!-- logo -->
                <div class="col-md-3 logo_agile">
                    <h1 class="text-center">
                        <a href="@Url.Action("Index","Admin")" class="font-weight-bold font-italic">
                            <img src="~/Content/Admin/images/TrinityLogo.jpg" alt=" " class="img-fluid">Trinity (PTY)
                        </a>
                    </h1>
                </div>
                <!-- //logo -->
                <!-- header-bot -->
                <div class="col-md-9 header mt-4 mb-md-0 mb-4">
                    <div class="row">
                        <!-- search -->
                        <div class="col-10 agileits_search">
                            @using (Html.BeginForm("Index", "Admin", FormMethod.Get, new { @class = "form-inline" }))
                            {
                                <input class="form-control mr-sm-2" name="searchEmail" id="searchEmail" type="search" placeholder="Search by Email..." aria-label="Search" required>
                                <button class="btn my-2 my-sm-0" type="submit">Search</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //header-bottom -->
    <!-- navigation -->
    <div class="navbar-inner" style="overflow:hidden;">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="scroll-text">
                    <p>IMPORTANT NOTICE!: ONLY THE ADMINISTRATOR AND THE MANAGER IS AUTHORISED TO ACCESS DATA IN THIS SYSTEM</p>
                </div>
            </nav>
        </div>
    </div>
    <!----------------------------------------------------- //navigation -------------------------------------------------------------->
    <!---Administrator Dashboard--->

    <div class="body-content">
        @RenderBody()
    </div>

    <!---//Administrator Dashboard--->
    <!-------------------------------------------------------- footer ----------------------------------------------------------------->
    <!-- footer -->
    <footer>
        <div class="footer-top-first">
            <div class="container py-md-5 py-sm-4 py-3">
                <!-- footer second section -->
                <div class="row w3l-grids-footer border-top border-bottom py-sm-4 py-3">
                    <div class="col-md-4 offer-footer">
                        <div class="row">
                            <div class="col-4 icon-fot">
                                <i class="fas fa-dolly"></i>
                            </div>
                            <div class="col-8 text-form-footer">
                                <h3>Order Shipping</h3>
                                <p>Local Areas (50km)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 offer-footer my-md-0 my-4">
                        <div class="row">
                            <div class="col-4 icon-fot">
                                <i class="fas fa-shipping-fast"></i>
                            </div>
                            <div class="col-8 text-form-footer">
                                <h3>Fast Delivery</h3>
                                <p>Always On Time</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 offer-footer">
                        <div class="row">
                            <div class="col-4 icon-fot">
                                <i class="far fa-thumbs-up"></i>
                            </div>
                            <div class="col-8 text-form-footer">
                                <h3>Big Choice</h3>
                                <p>Of Quality Services</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //footer second section -->
            </div>
        </div>
        <!-- footer third section -->
        <div class="w3l-middlefooter-sec">
            <div class="container py-md-5 py-sm-4 py-3">
                <div class="row footer-info w3-agileits-info">
                    <!-- quick links -->
                    <div class="col-md-3 col-sm-6 footer-grids mt-sm-0 mt-4">
                        <h3 class="text-white font-weight-bold mb-3">Quick Links</h3>
                        <ul>
                            <li class="mb-3">
                                <a href="@Url.Action("Index", "Home")">Home</a>
                            </li>
                            <li class="mb-3">
                                <a href="@Url.Action("About", "Home")">About</a>
                            </li>
                            <li class="mb-3">
                                <a href="@Url.Action("Contact", "Home")">Contacts</a>
                            </li>
                            <li class="mb-3">
                                <a href="#">Gallery</a>
                            </li>
                            <li class="mb-3">
                                <a href="#">Blog</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 footer-grids mt-md-0 mt-4">
                        <h3 class="text-white font-weight-bold mb-3">Get in Touch</h3>
                        <ul>
                            <li class="mb-3">
                                <i class="fas fa-map-marker"></i>&nbsp;91 Avenue Rd, IMbali B&B.
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-mobile"></i><a href="tel:0333423952">&nbsp;078 342 3952</a>
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-phone"></i><a href="tel:0333423952">033 342 3952</a>
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-envelope-open"></i>
                                <a href="mailto:example@mail.com">trinity04@rental.ac.za</a>
                            </li>
                            <li>
                                <i class="fas fa-envelope-open"></i>
                                <a href="mailto:example@mail.com">imbalirentalz@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 footer-grids w3l-agileits mt-md-0 mt-4">
                        <!-- newsletter -->
                        <h3 class="text-white font-weight-bold mb-3">Newsletter</h3>
                        <p class="mb-3">Trinity Rental Enterprise</p>
                        <form action="#" method="post">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" name="email" required="">
                                <input type="submit" value="Go">
                            </div>
                        </form>
                        <!-- //newsletter -->
                        <!-- social icons -->
                        <div class="footer-grids  w3l-socialmk mt-3">
                            <h3 class="text-white font-weight-bold mb-3">Follow Us on</h3>
                            <div class="social">
                                <ul>
                                    <li>
                                        <a class="icon fb" href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="icon tw" href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="icon gp" href="#">
                                            <i class="fab fa-google-plus-g"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- //social icons -->
                    </div>
                </div>
                <!-- //quick links -->
            </div>
        </div>
        <!-- //footer third section -->
        <!-- footer fourth section -->
        <div class="agile-sometext py-md-5 py-sm-4 py-3" style="background:#333;">
            <div class="container">
                <!-- payment -->
                <div class="sub-some child-momu mt-4 text-center" style="margin-bottom:7vh;">
                    <h5 class="font-weight-bold mb-3">Payment Methods</h5>
                    <ul>
                        <li>
                            <img src="~/Content/Admin/images/pay2.png" alt="">
                        </li>

                        <li>
                            <img src="~/Content/Admin/images/pay1.png" alt="">
                        </li>

                        <li>
                            <img src="~/Content/Admin/images/pay3.png" alt="">
                        </li>

                        <li>
                            <img src="~/Content/Admin/images/pay8.png" alt="">
                        </li>

                    </ul>
                </div>
                <!-- //payment -->
            </div>
        </div>
        <!-- //footer fourth section (text) -->
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="copy-right py-3">
        <div class="container">
            <p class="text-center text-white">
                © 2021 Trinity Rental Enterprise. All rights reserved.
            </p>
        </div>
    </div>
    <!-- //copyright -->
    <!-- js-files -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- jquery -->
    <script src="~/Content/Admin/js/jquery-2.2.3.min.js"></script>
    <!-- //jquery -->
    <!-- nav smooth scroll -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //nav smooth scroll -->
    <!-- popup modal (for location)-->
    <script src="~/Content/Admin/js/jquery.magnific-popup.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>
    <!-- //popup modal (for location)-->
    <!-- cart-js -->
    <script src="~/Content/Admin/js/minicart.js"></script>
    <script>
        paypals.minicarts.render(); //use only unique class names other than paypals.minicarts.Also Replace same class name in css and minicart.min.js

        paypals.minicarts.cart.on('checkout', function (evt) {
            var items = this.items(),
                len = items.length,
                total = 0,
                i;
            // Count the number of each item in the cart
            for (i = 0; i < len; i++) {
                total += items[i].get('quantity');
            }

            if (total < 3) {
                alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
                evt.preventDefault();
            }
        });
    </script>
    <!-- //cart-js -->
    <!-- password-script -->
    <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
    <!-- //password-script -->
    <!-- scroll seller -->
    <script src="~/Content/Admin/js/scroll.js"></script>
    <!-- //scroll seller -->
    <!-- smoothscroll -->
    <script src="~/Content/Admin/js/SmoothScroll.min.js"></script>
    <!-- //smoothscroll -->
    <!-- start-smooth-scrolling -->
    <script src="~/Content/Admin/js/move-top.js"></script>
    <script src="~/Content/Admin/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- for bootstrap working -->
    <script src="~/Content/Admin/js/bootstrap.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <!-- //for bootstrap working -->
    <!-- //js-files -->
</body>
</html>
